*{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.growth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}
.line1{
    color: rgb(226, 43, 113);
    font-size: 45px;
    margin-top: 150px;
}
.line2{
    color: black;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 150px;
}
.containerCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.customer, .operation, .award, .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 45px;
    margin: 0 23px;
    width: 450px;
    height: 450px;

}
h2,i, p{
    background-color: white;
    
}
